<p class="sidebar">
  <p style="margin: 20px;"><b>ジャンル検索</b></p>
  <p style="margin: 20px;">ケーキ</p>
  <p style="margin: 20px;">焼き菓子</p>
  <p style="margin: 20px;">プリン</p>
  <p style="margin: 20px;">キャンディ</p>
</p>