/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ヘッダー・フッター背景色 */
.bg-custom {
  background: #DBCDB8;
  height :80px;
}

/* ヘッダーロゴ */
.logo-image {
  background-image: url("../app/aseets/images/nagano_cake_logo.webp");
  width: 65x;
  height: 65px; 
  background-size: auto;
  background-repeat: no-repeat;
}

/* ヘッダーボタン */
.nav_button {
  background: #56322C;
  color: white; 
  border-radius : 10px;
  padding: 10px;
  margin: 10px;
}

/* ジャンルサイドバー */
.bg-custom-sidebar {
  background: #56322C;
  color: white;
}

 /* 顧客向け商品一覧ページネーションを中央に配置 */
 .pagination-container {
  display: flex;
  justify-content: center;
}

  .pagination {
    display: inline-block;
  }

  .pagination a, .pagination span {
    padding: 5px 10px;
    margin: 0 2px;
  }

  /* 商品一覧ページフォントサイズ */
  .header-text {
    font-size: 24px;
  }
  
  .count-text {
    font-size: 16px; 
  }

